{{define "article"}}
<div class="col-md-8 main-wrap">
    <section class="inner">
        <!-- {% for article in articles %} -->
        {{range $article := .posts}}
        <article class="article">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="/posts/{{ $article.Slug }}">{{ $article.Title }}</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="entry_content">
                        {{ $article.Content }}
                    </div>
                    <div class="date-wrap">
                        <p class="date">
                         {{ $article.Published }}
                         </p>
                    
                    {{if $.current}}
                        <a class="entry_a" href="/compose?id={{ $article.Pid }}">Edit</a>
                    {{else}}
                        <a class="entry_a" href="/posts/{{ $article.Slug }}">查看</a>
                    {{end}}
                    </div>
                </div>
            </div>


        </article>
        {{end}}
    </section>
    <hr />
    <nav>
        <ul id="paging" class="pagination">
        </ul>
    </nav>
</div>
{{end}}