{{define "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <small>Powered by <a href="http://www.tornadoweb.org/">tornado</a> | senvid.</small>
            </p>
        </div>
    </footer>
{{end}}