{{define "footerdown"}}
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/web.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    mouse_over_out();
});
   
</script>
{{end}}