{{define "head"}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html">
    <title>myblog</title>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="myblog"> 
    <!-- bs -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="//cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <h3>Your browser is too old.. Touch me to upgrade it.</h3>
        <a href="http://www.google.cn/chrome/"><h2>chrome</h2></a>
        <a href="www.mozilla.org"><h2>firefox</h2></a>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
 <!--    {% block head %} 
    {% end %} -->
{{end}}